<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaJjzbcBfUu1niU0FCa7VRqUEGq73E9ns</string>
	<key>GCM_SENDER_ID</key>
	<string>523768930449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rimes.lanslideReport</string>
	<key>PROJECT_ID</key>
	<string>landslide-459607</string>
	<key>STORAGE_BUCKET</key>
	<string>landslide-459607.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523768930449:ios:fc563a159a6735b123df30</string>
	<key>DATABASE_URL</key>
	<string>https://landslide-459607-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>